# Java e Android
*.class
build/
bin/
.gradle/

# IDE e Editor
.idea/
*.iml
.vscode/

# .NET / C#
client/obj/
client/bin/
client/.vs/
obj/
bin/
publish/
*.dll
*.pdb
*.launcher_backup.exe

# Logs e temporários
*.log
*.tmp

# Temporary system dumps and inspection logs (Protection)
services.jar
framework.jar
*.dex
!server/scrcpydex-server.jar
*.odex
*.vdex
decompiled/
decompiled_*/
live_dumpsys_*.txt
dex_capture.log
*.zip
